main {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ffffff;
  
  }

.manseerat {
margin-top: 20px;
padding: 10px;
border-color: black;
border: solid 2px;
border-radius: 8px;
text-align: center;
}

.manseerat:hover {
  box-shadow: 3px 4px gray;
}

.julia {
margin-top: 20px;
padding: 10px;
border-color: black;
border: solid 2px;
border-radius: 8px;
text-align: center;
}

.julia:hover {
  box-shadow: 3px 4px gray;
}

.description {
margin-top: 20px;
padding: 10px;
border-color: black;
border: solid 2px;
border-radius: 8px;
text-align: center;
}

.description:hover {
  box-shadow: 3px 4px gray;
}