@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.about-container {
margin-top: 20px;
justify-content: center;
 h5 {
   font-family: 'Playfair Display', serif;
 }
}

.menu-1 {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.manseerat {
margin-top: 20px;
margin: 20px;
width: 80%;
padding: 10px;
background-color: #ede7e1;
border-radius: 8px;
text-align: center;
}

.manseerat:hover {
  box-shadow: 3px 4px rgb(201, 178, 158);
}

#mama-img {
  height: 90px;
  border-radius: 40px;
}

.julia {
margin-top: 20px;
margin: 20px;
width: 80%;
padding: 10px;
background-color: #ede7e1;
border-radius: 8px;
text-align: center;
}

.julia:hover {
  box-shadow: 3px 4px rgb(201, 178, 158);
}

#juju-img {
  height: 90px;
  border-radius: 40px;
}

.description {
margin-top: 20px;
margin: 20px;
padding: 10px;
background-color: #ede7e1;
border-radius: 8px;
text-align: center;
}

.description:hover {
  box-shadow: 3px 4px rgb(201, 178, 158);
}

#image-about {
display: block;
margin: 0px auto;
height: 250px;
height: 300px;
border-radius: 12px;
}
