
.explore-box{
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  h5 {
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
  }
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
}

.recipes {
  display: flex;
  align-items: center;
  border-radius: 8px;
  text-align: center;
}

section {
  margin: 2rem 0 1rem 0; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  // background-color: #ede7e1;
}

h4 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Playfair Display', serif;
}

article img {
  margin-bottom: 1rem;
  border-radius: 8px;
  height: 200px;
}

article {
  background-color: #ede7e1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 1rem;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
}
// .article:hover {
//   box-shadow: 3px 4px rgb(201, 178, 158);
// }
.instructions {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-weight: bolder;
}

article a {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.424);
  color: white;
  width: fit-content;
  padding: 0.5rem 1rem;
  cursor: pointer ;
}

#go-to-button-explore{
font-size: 15px;
background-color: #f3f1ef;
color:black;
border-radius: 20px;
margin: 10px;
}

#fav-button-explore {
  font-size: 15px;
  background-color: #f3f1ef;
  color:black;
  border-radius: 20px;
  margin: 10px;
}

#explore-bar-2{
  width: 30%;
}

@media only screen and (max-width: 800px) {
  .recipes {
    flex-direction: column;
    align-items: center;
  }

  section {
    flex-direction: column;
    align-items: center;
  }
}
