.favorite-container {
align-items: center;
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
}

.fav-recipe-item {
// margin-top: 20px;
margin: 20px;
width: 45%;
padding: 10px;
background-color: #ede7e1;
background-image: url('https://www.svgrepo.com/show/91325/bookmark.svg') ;
background-repeat: no-repeat;
background-position: top;
background-position-x: right;
background-size: 60px;
border-radius: 8px;
text-align: center;
}

.fav-recipe-item:hover {
  box-shadow: 3px 4px rgb(201, 178, 158);
}

.fav-recipe-title {
  font-family: 'Playfair Display', serif;
}
.fav-recipe-image {
  height: 200px;
  border-radius: 30px;
}

#fav-title {
  font-family: 'Playfair Display', serif;
  text-align:center;
}

#fav-button {
  background-color: #f3f1ef;
  color:black;
  border-radius: 20px;
}