main {
margin-left: 20px;
margin-right: 20px;
background-color: #ffffff;

}

.brand-logo {
display: block;
margin: 0px auto;
height: 450px;
}
.my-ingredients {
margin-top: 20px;
padding: 10px;
border-color: black;
border: solid 2px;
border-radius: 8px;
text-align: center;
}

.go-to-ingredients {
font-size: 15px;
}

.my-ingredients:hover {
  box-shadow: 3px 4px gray;
}

.my-meal-planner {
margin-top: 20px;
text-align: center;
padding: 10px;
border-color: black;
border: solid 2px;
border-radius: 8px;
text-align: center;
}

.my-meal-planner:hover {
  box-shadow: 3px 4px gray;
}

.my-shopping-list {
margin-top: 20px;
text-align: center;
padding: 10px;
border-color: black;
border: solid 2px;
border-radius: 8px;
text-align: center;
}

.my-shopping-list:hover {
  box-shadow: 3px 4px gray;
}

.explore-recipes {
margin-top: 20px;
text-align: center;
padding: 10px;
border-color: black;
border: solid 2px;
border-radius: 8px;
text-align: center;
}

.explore-recipes:hover {
  box-shadow: 3px 4px gray;
}