
.add_ingredient--item{
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  height: 100px;
  padding: 30px;
  margin: 4px;
  
  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}