.nav-bar-container {
  background-repeat: no-repeat;
  background-image: url("https://img.wallpapersafari.com/desktop/800/450/71/15/AipStT.jpg");
// background-image: url("https://t4.ftcdn.net/jpg/03/73/26/09/360_F_373260949_C49GBDmBKwzfg33ym1wMHRYK7g2cFAHI.jpg");
// width: 900px;
background-size: 100%;
// background-image: url('https://image.shutterstock.com/image-illustration/soft-green-watercolor-background-brush-260nw-1145362352.jpg');
}

.brand-logo-letter {
height: 50px;

}

.brand-name {
height: 50px;
filter:grayscale(100%)
}

.dropdown-nav{
margin-left: 700px ;
}