.nav-bar-container {
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-image: url("https://img.wallpapersafari.com/desktop/800/450/71/15/AipStT.jpg");
  background-size: 100%;
  align-items: center;
}

.brand-logo-letter {
height: 50px;
}

.brand-name {
height: 50px;
filter:grayscale(100%)
}

.dropdown-nav{
margin-left: 700px ;
}

.user-name{
margin-left: 100px;
}

a.nav-link {
  color: black;
}

div.offcanvas {
  width: 30%;
}