.recipe-item {
  
  
  border-color: black;
  border: solid 2px;
  border-radius: 8px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
  -moz-box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
  box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
  border:1px solid #f0f1f3;
  width: 80%;
  margin: 50px auto;
  background-color: white;
}
.recipe-item:hover {
  box-shadow: 3px 4px gray;
}
.recipe-title {
  text-align: center;
}

.recipe-image {
  // display: block;
  margin: 0px auto;
  height: 200px;
  border-radius: 8px;
  max-width: 100%;
  width: -webkit-fill-available;
  /* background-size: contain; */
  height: -webkit-fill-available;

}

.buttons {
  margin-top: 20px;
}

.shop-button {
margin: 20px;
color: rgb(228, 136, 136)
}

.fav-button {
  margin: 20px;
}

.recipe-nav {
  margin: 0 0 20px;
  padding: 0;
  border-bottom: 1px solid #eb9376;
  li {
    display: inline-block;
    margin-right: 30px
  }
  h3 {
    margin: 0;
    padding: 0;
  }
  h3:after {
    content: '';
    display: block;
    width: 0%;
    padding-top: 10px;
    margin: 0 auto;
    border-bottom: 5px solid #eb9376;
    transition: width 250ms ease-in-out 0s;
  }
  h3:hover {
    cursor: pointer;
  }
  h3:hover:after, h3.active:after {
   width: 100%; 
  }
}

.recipe-ingredients{
  display: flex;
  ul {
    list-style-type: disc;
    text-align: initial;
    width: 50%;
  }
  .stock {
    color: green;
  }

  .missed {
    color: rgb(231, 111, 111);
  }
}

.recipe-method {
  padding: revert;
  text-align: initial;
}

.info {
  background-color: #b2c798;
  color: white;
  font-size: larger;
  a {
    text-decoration: none;
    color: rgb(218, 24, 24);
  }
}

.footer{
  background-color: #b2c798;
  color: white;
  table {
    text-align: center;
    color: white;
    margin: auto;
  }
  td {
    border: 2px solid white;
    padding: 4px;
  }
  td:nth-child(2), td:nth-child(1), td:nth-child(3) {
    border-top: none;
  }
  td:nth-child(4), td:nth-child(5), td:nth-child(6) {
    border-bottom: none;
  }

  td:nth-child(1), td:nth-child(4) {
    border-left: none;
  }
  td:nth-child(3), td:nth-child(6) {
    border-right: none;
  }

}