* {
  text-align: center;
}

.list-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(191, 240, 191);
  margin: 20px auto;
  width: 50%;
  justify-content: center;

}

.list-container:nth-child(3), :nth-child(5), :nth-child(7) {
  background-color: rgb(243, 201, 146);
  .heading {
    background-color: rgb(230, 147, 39);
    width: 100%;
  }
}

.list-container:nth-child(2), :nth-child(4), :nth-child(6) {
  background-color: rgb(191, 240, 191);
  .heading {
    background-color: rgb(80, 119, 80);;
    width: 100%;
  }
}



.list {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}




// @media only screen and (max-width: 800px) {
//   .recipes {
//     flex-direction: column;
//     align-items: center;
//   }

//   section {
//     flex-direction: column;
//     align-items: center;
//   }
// }