* {
  text-align: center;
}

.list-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(236, 198, 117);
  margin: 20px auto;
  width: 50%;
  justify-content: center;
  .heading {
  background-color: rgb(221, 153, 27);
  width: 100%;
  }

}

// .list-container:nth-child(3), :nth-child(5), :nth-child(7) {
//   background-color: rgb(243, 201, 146);
//   
// }

// .list-container:nth-child(2), :nth-child(4), :nth-child(6) {
//   background-color: rgb(191, 240, 191);
//   .heading {
//     background-color: rgb(80, 119, 80);;
//     width: 100%;
//   }
// }

.close {
  width: 12x;
  height: 12px;
  right: 0;
}

.shopping-list {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;

  li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}




// @media only screen and (max-width: 800px) {
//   .recipes {
//     flex-direction: column;
//     align-items: center;
//   }

//   section {
//     flex-direction: column;
//     align-items: center;
//   }
// }